<div class="container">
    <div>
        <h1>マイページ</h1>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div align="center">
                <% if current_user.images.present? %>
                <% current_user.images.each do |u| %>
                <%= image_tag u.thumb.url,width: "100px", height: "100px" %>
                <% end %>
                <% end %>

            </div>
            <div class="name_display">
                <div align="center">
                    <%= @user.nickname %>
                </div>
            </div>



            <%= link_to "編集",edit_user_path(@user.id), class: "btn btn-success edit_btn" %>
            <%= link_to "退会", user_registration_path, method: :delete, class: "btn btn-success edit_btn" %>