<header>

<nav>

      <div class="menu-icon">
            <i class="fa fa-bars fa-2x"></i>
      </div>

      <div class="logo">
            Games
      </div>

      <div class="menu">
            <ul>
                  <li><a href="#">マイページ</a></li>
                  <li><a href="#">ゲーム追加</a></li>
                  <li><a href="#">ゲーム一覧</a></li>
                  <li><a href="#">投稿一覧</a></li>
                  <li><a href="#">log out</a></li>
            </ul>
      </div>
</nav>

</header>

<script type="text/javascript">

// Menu-toggle button

$(document).ready(function() {
      $(".menu-icon").on("click", function() {
            $("nav ul").toggleClass("showing");
      });
});

// Scrolling Effect

$(window).on("scroll", function() {
      if($(window).scrollTop()) {
            $('nav').addClass('black');
      }

      else {
            $('nav').removeClass('black');
      }
})


</script>