// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title_signup_display {
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Anton', sans-serif;
}

.games_index_title {
    font-size: 50px;
    padding-left: 3%;
}

.games_index_image img {

    height: 250px;
    width: 188px;
}

.games_index_introduction {
    padding-top: 15%;
    font-size: 20px;
    padding-right: 5%;


}

.games_box {
    padding-left: 3%;
    padding-bottom: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 30%;
    width: 100%;
    background-color: rgb(250, 250, 214);
    border-radius: 10px 10px 10px 10px;

}

.name_display {
    font-size: 30px;

}

.slider {
    list-style: none;
}

.unko {
    height: 24rem;
}

.card {
    width: 23rem;
    height: 24rem;
    float: left;
    margin-left: 2%;
}

.card-img-top {
    margin-left: 2%;
    margin-top: 2%;
    width: 96%;
    height: 240px;
}

.card-text {
    font-size: 35px
}

.back {
    background-color: rgb(48, 44, 44);
    color: white;
}

.card-text {
    color: black;
}

.lb-dataContainer {
    height: 200px;
}


.lb-data .lb-caption {
    font-size: 30px;
    font-weight: bold;
    line-height: 1em;
    word-wrap: break-word;
    white-space: normal;
    display: block;
}

// .favorite-list {
//     width: 100%;
//     height: 250px;
//     overflow: scroll;
// }

// .new-list-content img {
//     float: left;
//     padding-right: 20px;
//     height: 270px;
//     width: 200px;
// }